<h1>Swimming Pool Center</h1>
<p>Application to manage onsite customer service for pool service company with 2 locations and 7 trucks delivering onsite service daily.</p>

<%= link_to image_tag("http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_584/v1496691345/spc-v1/spc-data-model.jpg"), "http://res.cloudinary.com/smithwebtek/image/upload/v1496694464/spc-v1/spc-erd.pdf" %>